@import "tailwindcss";

@font-face {
  font-family: "Playfair Display";
  src: url("/src/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oakes Grotesk";
  src: url("/src/assets/fonts/Oakes Grotesk/Oakes Grotesk Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oakes Grotesk";
  src: url("/src/assets/fonts/Oakes Grotesk/Oakes Grotesk Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oakes Grotesk";
  src: url("/src/assets/fonts/Oakes Grotesk/Oakes Grotesk Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oakes Grotesk";
  src: url("/src/assets/fonts/Oakes Grotesk/Oakes Grotesk Semibold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

/* Example of how to define it as a theme variable */
@theme {
  --font-oakes-grotesk: "Oakes Grotesk", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #3d2b1f;
  color: #f2f2f2;
}
body {
  background-color: #f2f2f2;

}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width:  none ;
}

/* Modern browsers only */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Brave, Edge Chromium */
}


.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-container:focus {
  outline: none;
}

.wrapper-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  width: 90vw;
  height: 100vh; 
  max-width: 1200px;
  max-height: 600px;
  border-radius: 1.2rem;
  overflow: hidden;
  background: transparent;
}

@media (max-width: 1024px) {
  .canvas-wrapper {
    height: 50vh; /* smaller height on tablets */
  }
}

@media (max-width: 640px) {
  .canvas-wrapper {
    height: 25vh; /* smaller height on mobile */
    width: 85vw;  /* slightly wider for landscape feel */
  }
}