@import "tailwindcss";

@font-face {
  font-family: "Melodrama";
  src: url("/src/assets/fonts/melodrama/Melodrama-Variable.ttf")
    format("truetype");
  font-weight: 100 900; /*  tells browser it's a variable range */
  font-style: normal;
  font-display: swap;
}
/* 1. Self-hosted font-face (if you have TTF/OTF/WOFF2 locally) */
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/src/assets/fonts/playfair/PlayfairDisplay-Italic.ttf")
    format("truetype");
  font-weight: 400; /* adjust if you have multiple weights */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/src/assets/fonts/playFair/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* full variable range */
  font-style: italic; /* italic axis */
  font-display: swap;
}

/* 4. Tailwind v4 theme tokens */
@theme {
  --font-playfair: "Playfair Display", serif;
  --font-melodrama: "Melodrama", serif;
  --font-boska: "Boska", serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #3d2b1f;
  color: #faf3e0;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width:  none ;
}
/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
} */
body {
  background-color: #f2f2f2;

}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-container:focus {
  outline: none;
}

.wrapper-section{
  display: flex;
  justify-content: center;
  align-items: center;


}

.canvas-wrapper {
  width: 90vw;
  height: 100vh; 
  max-width: 1200px;
  max-height: 600px;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  .canvas-wrapper {
    height: 50vh; /* smaller height on tablets */
  }
}

@media (max-width: 640px) {
  .canvas-wrapper {
    height: 20vh; /* smaller height on mobile */
    width: 95vw;  /* slightly wider for landscape feel */
  }
}